.portfolio {
  .inner {
    .contents {
      .portfolio-box {
        .portfolio-team {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 30px;

          .portfolio-left {
            width: calc(50% - 10px);
            text-align: center;
            video {
              display: block;
              width: 610px;
              height: 420px;
              background-size: cover;
            }
          }
          .portfolio-right {
            width: calc(45% - 10px);
            li {
              font-size: 20px;
              span {
                font-size: 20px;
              }
              .name {
                font-size: 28px;
              }
            }
          }
        }
        .portfolio-slide {
          .swiper-button-next,
          .swiper-button-prev {
            color: #fff !important;
            &:hover {
              color: #6ee7b7 !important;
            }
          }
          a {
            display: flex;
            width: 100%;
            text-align: center;
            img {
              width: 95%;
              height: 200px;
            }
          }
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .portfolio-left,
  .portfolio-right {
    width: 100% !important;
    video {
      padding-bottom: 20px;
    }
    a {
      width: 375px !important;
    }
  }
  .portfolio-box {
    .portfolio-slide {
    }
  }
}
