/** @format */
@charset "utf-8";
// 반응형
$desktop: 1180px;
$tablet: 960px;
$mp: 860px;
// 기본 scss
@import "reset";
// 공통 scss
@import "header";
@import "footer";
@import "layout";
@import "gotop";
@import "mobilemenu";

// 섹션 scss
@import "visual";
@import "vision";
@import "portfolio";
@import "profile";
@import "life";
@import "skils";
